.container-admin{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}
.Card-newUser{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}
.containerCard{
   flex: 0 0 50%;
   max-width: 50%;
}

.contentCard{
    display: flex;
}
.form{
    padding: 10%;
    flex-direction: column;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  /* table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
    border: 1px solid black;
  } */
  table, th, td {
    border: 1px solid black;
  }

.Check{
    margin:1%;
}
/* .buttons{
    text-align: center;
} */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(15, 19, 236);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #1808ee;
  }
  .button1:hover {
    background-color: #4b63ee;
    color: white;
  }
  /* NavBar */
 